# vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

# emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# misc
*.pyc

# coq
*.aux
*.d
*.glob
*.vio
*.vo
CoqMakefile.conf
Makefile.bak
Makefile.coq
Makefile.coq.conf
Makefile.coq.bak
Makefile-old.conf
csdp.cache
lia.cache
nlia.cache
nia.cache
nra.cache
.csdp.cache
.lia.cache
.nlia.cache
.nia.cache
.nra.cache

/finished.ok
/time-of-build-pretty.log
/time-of-build.log

/*.out

.merlin

src/Rewriter/Util/plugins/*.cmt
src/Rewriter/Util/plugins/*.cmti
src/Rewriter/Util/plugins/*.annot
src/Rewriter/Util/plugins/*.cmi
src/Rewriter/Util/plugins/*.cmx
src/Rewriter/Util/plugins/*.o
src/Rewriter/Util/plugins/*.a
src/Rewriter/Util/plugins/*.cmxs
src/Rewriter/Util/plugins/*.cma
src/Rewriter/Util/plugins/*.cmxa
src/Rewriter/Util/plugins/definition_by_tactic_plugin.ml
src/Rewriter/Util/plugins/inductive_from_elim_plugin.ml
src/Rewriter/Util/plugins/rewriter_build_plugin.ml
src/Rewriter/Util/plugins/strategy_tactic_plugin.ml

src/Rewriter/Util/plugins/RewriterBuildRegistry.v
src/Rewriter/Util/plugins/definition_by_tactic.ml
src/Rewriter/Util/plugins/definition_by_tactic.mli
src/Rewriter/Util/plugins/definition_by_tactic_plugin.mlg
src/Rewriter/Util/plugins/definition_by_tactic_plugin.mllib
src/Rewriter/Util/plugins/inductive_from_elim.ml
src/Rewriter/Util/plugins/inductive_from_elim.mli
src/Rewriter/Util/plugins/inductive_from_elim_plugin.mlg
src/Rewriter/Util/plugins/inductive_from_elim_plugin.mllib
src/Rewriter/Util/plugins/rewriter_build.ml
src/Rewriter/Util/plugins/rewriter_build.mli
src/Rewriter/Util/plugins/rewriter_build_plugin.mlg
src/Rewriter/Util/plugins/rewriter_build_plugin.mllib
src/Rewriter/Util/plugins/strategy_tactic.ml
src/Rewriter/Util/plugins/strategy_tactic.mli
src/Rewriter/Util/plugins/strategy_tactic_plugin.mlg
src/Rewriter/Util/plugins/strategy_tactic_plugin.mllib
src/Rewriter/Util/plugins/definition_by_tactic_plugin.ml4
src/Rewriter/Util/plugins/inductive_from_elim_plugin.ml4
src/Rewriter/Util/plugins/rewriter_build_plugin.ml4
src/Rewriter/Util/plugins/strategy_tactic_plugin.ml4

/.coq-version

/_CoqProject
