# vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

# emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# misc
*.pyc

# coq
.*.aux
.*.d
*.a
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.cmxs
*.glob
*.ml.d
*.ml4.d
*.mlg.d
*.mli.d
*.mllib.d
*.mlpack.d
*.native
*.o
*.v.d
*.vio
*.vo
*.vok
*.vos
.coq-native
.csdp.cache
.lia.cache
.nia.cache
.nlia.cache
.nra.cache
csdp.cache
lia.cache
nia.cache
nlia.cache
nra.cache
native_compute_profile_*.data

# generated timing files
*.timing.diff
*.v.after-timing
*.v.before-timing
*.v.timing
time-of-build-after.log
time-of-build-before.log
time-of-build-both.log
time-of-build-pretty.log

# specific coq files
CoqMakefile.conf
Makefile.bak
Makefile.coq
Makefile.coq.conf
Makefile.coq.bak
Makefile-old.conf

/finished.ok

/_CoqProject

/*.out

.merlin

src/Rewriter/Util/plugins/*.cmt
src/Rewriter/Util/plugins/*.cmti
src/Rewriter/Util/plugins/*.annot
src/Rewriter/Util/plugins/*.cmi
src/Rewriter/Util/plugins/*.cmx
src/Rewriter/Util/plugins/*.o
src/Rewriter/Util/plugins/*.a
src/Rewriter/Util/plugins/*.cmxs
src/Rewriter/Util/plugins/*.cma
src/Rewriter/Util/plugins/*.cmxa
src/Rewriter/Util/plugins/definition_by_tactic_plugin.ml
src/Rewriter/Util/plugins/inductive_from_elim_plugin.ml
src/Rewriter/Util/plugins/rewriter_build_plugin.ml
src/Rewriter/Util/plugins/strategy_tactic_plugin.ml
src/Rewriter/Util/plugins/ltac2_extra_plugin.ml

src/Rewriter/Util/plugins/RewriterBuildRegistry.v
src/Rewriter/Util/plugins/RewriterBuild.v
src/Rewriter/Util/plugins/StrategyTactic.v
src/Rewriter/Util/plugins/Ltac2Extra.v
src/Rewriter/Util/plugins/definition_by_tactic.ml
src/Rewriter/Util/plugins/definition_by_tactic.mli
src/Rewriter/Util/plugins/definition_by_tactic_plugin.mlg
src/Rewriter/Util/plugins/definition_by_tactic_plugin.mllib
src/Rewriter/Util/plugins/inductive_from_elim.ml
src/Rewriter/Util/plugins/inductive_from_elim.mli
src/Rewriter/Util/plugins/inductive_from_elim_plugin.mlg
src/Rewriter/Util/plugins/inductive_from_elim_plugin.mllib
src/Rewriter/Util/plugins/rewriter_build.ml
src/Rewriter/Util/plugins/rewriter_build.mli
src/Rewriter/Util/plugins/rewriter_build_plugin.mlg
src/Rewriter/Util/plugins/rewriter_build_plugin.mllib
src/Rewriter/Util/plugins/strategy_tactic.ml
src/Rewriter/Util/plugins/strategy_tactic.mli
src/Rewriter/Util/plugins/strategy_tactic_plugin.mlg
src/Rewriter/Util/plugins/strategy_tactic_plugin.mllib
src/Rewriter/Util/plugins/ltac2_extra.ml
src/Rewriter/Util/plugins/ltac2_extra.mli
src/Rewriter/Util/plugins/ltac2_extra_plugin.mlg
src/Rewriter/Util/plugins/ltac2_extra_plugin.mllib

src/Rewriter/Util/Tactics2/Constr.v
src/Rewriter/Util/Tactics2/DestProj.v
src/Rewriter/Util/Tactics2/Proj.v

/.coq-version
/.coq-version-compilation-date
/.coq-version-config
/.coq-version-ocaml-config
/.coq-version-ocaml-version
/.coq-version-short
/.coq-version-short-date
/.machine
/.machine-extended


# perf testing

src/Rewriter/Rewriter/Examples/PerfTesting/*/*.v
src/Rewriter/Rewriter/Examples/PerfTesting/*/*.log
/perf.csv
/perf-LiftLetsMap.csv
/perf-Plus0Tree.csv
/perf-SieveOfEratosthenes.csv
/perf-UnderLetsPlus0.csv
/LiftLetsMap.txt
/Plus0Tree.txt
/SieveOfEratosthenes.txt
/UnderLetsPlus0.txt
/*.txt-fits.dat
