# vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

# emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# misc
*.pyc

# coq
*.aux
*.d
*.glob
*.vio
*.vo
CoqMakefile.conf
Makefile.bak
Makefile.coq
Makefile.coq.conf
Makefile.coq.bak
Makefile-old.conf
csdp.cache
lia.cache
nlia.cache
nia.cache
nra.cache
.csdp.cache
.lia.cache
.nlia.cache
.nia.cache
.nra.cache

/finished.ok
/time-of-build-pretty.log
/time-of-build.log

/*.out

src/Util/plugins/*.annot
src/Util/plugins/*.cmi
src/Util/plugins/*.cmx
src/Util/plugins/*.o
src/Util/plugins/*.a
src/Util/plugins/*.cmxs
src/Util/plugins/*.cma
src/Util/plugins/*.cmxa
src/Util/plugins/definition_by_tactic_plugin.ml
src/Util/plugins/inductive_from_elim_plugin.ml
src/Util/plugins/rewriter_build_plugin.ml
src/Util/plugins/strategy_tactic_plugin.ml
