name: CI (Coq, docker)

on:
  push:
    branches: [ master ]
  pull_request:
  merge_group:
  workflow_dispatch:
  release:
    types: [published]
  schedule:
    - cron: '0 0 1 * *'

jobs:
  build-docker:

    strategy:
      fail-fast: false
      matrix:
        coq-version: [ '8.18', '8.19', '8.20' , '9.0' ]
        extra-gh-reportify: [ '' ]
        skip-validate: [ '' ]
        include:
        - coq-version: 'dev'
          extra-gh-reportify: '--warnings'

    runs-on: ubuntu-latest

    concurrency:
      group: ${{ github.workflow }}-${{ matrix.coq-version }}-${{ github.head_ref || github.run_id }}
      cancel-in-progress: true

    steps:
    - uses: actions/checkout@v5
      with:
        submodules: recursive
    - name: all
      uses: coq-community/docker-coq-action@v1
      with:
        coq_version: ${{ matrix.coq-version }}
        ocaml_version: default
        custom_script: |
          sudo chmod -R a=u .
          # Work around https://github.com/actions/checkout/issues/766
          git config --global --add safe.directory "*"
          echo '::group::install general dependencies'
          sudo apt-get update -y
          sudo apt-get install -y python-is-python3 python3
          eval $(opam env)
          opam install coq -y
          echo '::endgroup::'
          echo '::remove-matcher owner=coq-problem-matcher::'
          CI=1 etc/ci/describe-system-config.sh
          etc/ci/github-actions-make.sh ${{ matrix.extra-gh-reportify }} -j2 all
          etc/ci/github-actions-make.sh ${{ matrix.extra-gh-reportify }} -j2 perf-Sanity
    - name: display timing info
      run: cat time-of-build-pretty.log
    - name: display per-line timing info
      run: etc/ci/github-actions-display-per-line-timing.sh
#    - name: upload timing and .vo info
#      uses: actions/upload-artifact@v1
#      with:
#        name: build-outputs-${{ matrix.env.COQ_VERSION }}
#        path: .
#      if: always ()
    - name: validate
      uses: coq-community/docker-coq-action@v1
      with:
        coq_version: ${{ matrix.coq-version }}
        ocaml_version: default
        custom_script: |
          sudo chmod -R a=u .
          # Work around https://github.com/actions/checkout/issues/766
          git config --global --add safe.directory "*"
          echo '::group::install general dependencies'
          sudo apt-get update -y
          sudo apt-get install -y python-is-python3 python3
          eval $(opam env)
          opam install coq -y
          echo '::endgroup::'
          echo '::remove-matcher owner=coq-problem-matcher::'
          etc/ci/github-actions-make.sh TIMED=1 validate COQCHKFLAGS="-o"
      if: matrix.skip-validate == '' && github.event_name != 'pull_request'

  docker-check-all:
    runs-on: ubuntu-latest
    needs: build-docker
    if: always()
    steps:
    - run: echo 'The triggering workflow passed'
      if: ${{ needs.build-docker.result == 'success' }}
    - run: echo 'The triggering workflow failed' && false
      if: ${{ needs.build-docker.result != 'success' }}
